/** Add some styles */
#return {
    column-count: 2;
}

table {
    table-layout: fixed;
    height: 400px;
    width: 400px;
    background-color: aqua;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th,td {
    border: 1px solid black;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button {
    border: 1px solid white; 
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 40px;
    height: 40px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.total-btn-group div:not(:last-child) button {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover 
.btn-group button:hover {
    background-color: royalblue;
}*/

[disabled][data-status = "miss"]:hover {
    background-color: darkblue
}

[disabled][data-status = "hit"]:hover {
    background-color: orangered
}

[disabled][data-status = "sunk"]:hover {
    background-color: black
}

[disabled][data-status = "unknown"]:hover {
    background-color: aqua
}

[data-status = "miss"] {
    background-color: darkblue;
}

[data-status = "hit"] {
    background-color: orangered;
}

[data-status = "sunk"] {
    background-color: black;
}

[data-status = "unknown"] {
    background-color: aqua;
}

[data-status = "unknown"]:hover {
    background-color: royalblue;
}