/** Add some styles */

table {
    table-layout: fixed;
    height: 600px;
    width: 600px;
    background-color: aqua;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th,td {
    border: 1px solid black;
}
/*
.row {
    column-count: 2;
}*/

#options {
  width: 50%;
  padding-bottom: 0 10px 0 0;
  float: left;
}
#map {
  width: 45%;
  padding-bottom: 0 10px 0 0;
  float: right;
}

.row .total-btn-group {
  -webkit-column-break-inside: avoid;
}

.btn-group button {
    border: 1px solid white; 
    color: white; /* White text */
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 64px;
    height: 64px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.total-btn-group div:not(:last-child) button {
    border-bottom: none; /* Prevent double borders */
}


[data-status = "available"] {
    background-color: aqua;
}

[data-status = "unavailable"] {
    background-color: darkblue;
}

[data-status = "occupied"] {
    background-color: red;
}

/* Add a background color on hover */
[data-status = "available"]:hover:not([disabled]) {
    background-color: royalblue;
    background-image: repeating-linear-gradient(
        -45deg, 
        royalblue, 
        royalblue 1rem,
        aqua 1rem,
        aqua 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 1.5s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}


.placeShipMessage {
  height: 1em;
  color: red;
}

@media only screen and (max-width: 1430px) {
    
  #options {
    width: 40%;
    padding-bottom: 0 10px 0 0;
    float: left;
  }
  #map {
    width: 55%;
    padding-bottom: 0 10px 0 0;
    float: right;
  }
}

@media only screen and (max-width: 1200px) {
    
  #options {
    width: 30%;
    padding-bottom: 0 10px 0 0;
    float: left;
  }
  #map {
    width: 65%;
    padding-bottom: 0 10px 0 0;
    float: right;
  }
}

@media only screen and (max-width: 1000px) {
    
  #options {
    width: 25%;
    padding-bottom: 0 10px 0 0;
    float: left;
  }
  #map {
    width: 70%;
    padding-bottom: 0 10px 0 0;
    float: right;
  }
}

@media only screen and (max-width: 940px) {
  div.logo-header {
    display: none;
  }
  .row {
      column-count: 1;
  }
  #options {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }
  #map {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  button.placeButton {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 530px) {
  #options {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }
  #map {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  button.placeButton {
    width: 35px;
    height: 35px;
  }
}
