button {
    background-color: Aqua;
    transition-duration: 1s;
}
button:hover {
    
    font-size: 2em;
    border: 2px solid black;
    background-color: Yellow;
}

.status {
    height: 1em;
    color: blue;
}

.message {
    height: 1em;
    color: red;
}